<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>

  <script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGcagY71-iclbK1htRV7F3ZakfpvjperY&signed_in=true&libraries=visualization"></script>
 

  <script type ="text/javascript" >
    <% include ../../scripts/angular/angular.min.js %>
    <% include ../../scripts/lodash/lodash.core.js %>
    <% include ../../scripts/restangular/restangular.js %>

    <% include ../../scripts/ng-table/ng-table.min.js %>

    <% include ../../scripts/app.js %>
    <% include ../../scripts/controllers/firstObjectiveCtrl.js %>
    <% include ../../scripts/controllers/secondObjectiveCtrl.js %>
    <% include ../../scripts/controllers/thirdObjectiveCtrl.js %>

     
  </script>

</head>

<body ng-app="foursquareApiTestApp">

  <% include ../partials/nav.ejs %>

<div id="map" style="height: 40%;"></div>

<div class="container" >
  <div class="panel-group">

    <div class="panel panel-default" ng-controller="FirstObjectiveCtrl" style="padding-top: 15px;">

      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse1">
            <strong>Objective:</strong> 
            View all places with certain category within a certain distance from the user
          </a>
        </h4>
      </div>

      <div id="collapse1" class="panel-collapse collapse">


        <div class="panel-body">
          <div class="alert alert-info text-center" ng-show="alert">
            {{alert}}
          </div>
          <div class="row">
            <h4 class="panel-title" style="padding-left: 15px;">Enter the parameters</h4>
            <hr/>
          </div>
          <div class="row" style="padding-bottom: 20px;">
            <div class="col-sm-8">
              <label class="control-label" for="categoryInput">Category</label>
              <input name="categoryInput" id="categoryInput" type="text" ng-model="filter.query" class="form-control" placeholder="Category" maxlength="100" />
            </div>
            <div class="col-sm-4">
              <label class="control-label" for="distanceInput">Approximate Distance (m)</label>
              <input name="distanceInput" id="distanceInput" type="number" ng-model="filter.radius" class="form-control" placeholder="Distance from you in meters
    " maxlength="1000" />
            </div>
          </div>

          <div class="row panel-footer text-right" style="padding-top: inherit;">
              <button id="reset-button" ng-click="reset()" class="btn btn-labeled btn-default">
                  <span class="btn-label icon glyphicon glyphicon-trash"></span>
                  <span>Clear</span>
              </button>
              <button id="search-button" ng-click="search()" class="btn btn-labeled btn-primary ng-binding">
                  <span class="btn-label icon glyphicon glyphicon-search"></span>
                  <span>Search</span>
              </button>
          </div>

          
          <!-- Results -->
          <div class="panel" ng-show="result">
              <div class="row">
                <h4 class="panel-title" style="padding-left: 15px;">Results</h4>
                <hr/>
              </div>


              <div class="panel-body">
                  <div class="table-light">
                    <table ng-table="tableParams" class="table">
                        <tr ng-repeat="venue in result | orderBy:'location.distance'">
                            <td title="'Name'" class="text-left">
                                {{venue.name}}
                            </td>
                            <td title="'Location'" class="text-left">
                                {{venue.location.formattedAddress[0]}},
                                {{venue.location.formattedAddress[1]}},
                                {{venue.location.formattedAddress[2]}}
                            </td>
                            <td title="'Distance'" class="text-right"  >
                                {{venue.location.distance}}
                            </td>
                        </tr>
                    </table>
                  </div>
              </div>
          </div>
        </div>
        

      </div>

    </div>
    <!-- End collapse1 -->

    <div class="panel panel-default" ng-controller="SecondObjectiveCtrl">

      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse2">
            <strong>Objective:</strong> 
            View the top five of places according to the amount of checkins near the user's current location
          </a>
        </h4>
      </div>

      <div id="collapse2" class="panel-collapse collapse">


        <div class="panel-body">
          <div class="alert alert-info text-center" ng-show="alert">
            {{alert}}
          </div>
          <div class="row">
            <h4 class="panel-title" style="padding-left: 15px;">Enter the parameters</h4>
            <hr/>
          </div>
          <div class="row" style="padding-bottom: 20px;">
            <div class="col-sm-8">
              <label class="control-label" for="categoryInput">Category</label>
              <input name="categoryInput" id="categoryInput2" type="text" ng-model="filter.query" class="form-control" placeholder="Category" maxlength="100" />
            </div>
            <div class="col-sm-4">
              <label class="control-label" for="distanceInput">Approximate Distance (m)</label>
              <input name="distanceInput" id="distanceInput" type="number" ng-model="filter.radius" class="form-control" placeholder="Distance from you in meters
    " maxlength="1000" />
            </div>
          </div>

          <div class="row panel-footer text-right" style="padding-top: inherit;">
              <button id="reset-button" ng-click="reset()" class="btn btn-labeled btn-default">
                  <span class="btn-label icon glyphicon glyphicon-trash"></span>
                  <span>Clear</span>
              </button>
              <button id="search-button2" ng-click="search()" class="btn btn-labeled btn-primary ng-binding">
                  <span class="btn-label icon glyphicon glyphicon-search"></span>
                  <span>Search</span>
              </button>
          </div>

          <!-- Results -->
          <div class="panel" ng-show="result">
              <div class="row">
                <h4 class="panel-title" style="padding-left: 15px;">Results</h4>
                <hr/>
              </div>

              <div class="panel-body">
                  <div class="table-light">
                    <table ng-table="tableParams" class="table">
                        <tr ng-repeat="venue in result | orderBy:'-stats.checkinsCount' | limitTo:5 ">
                            <td title="'Name'" class="text-left">
                                {{venue.name}}
                            </td>
                            <td title="'Location'" class="text-left">
                                {{venue.location.formattedAddress[0]}},
                                {{venue.location.formattedAddress[1]}},
                                {{venue.location.formattedAddress[2]}}
                            </td>
                            <td title="'Distance'" class="text-right"  >
                                {{venue.location.distance}}
                            </td>
                            <td title="'Nº of Checkins'" class="text-right"  >
                                {{venue.stats.checkinsCount}}
                            </td>
                        </tr>
                    </table>
                  </div>
              </div>
          </div>
        </div>
        

      </div>

    </div>
    <!-- end collapse2 -->

    <div class="panel panel-default" ng-controller="ThirdObjectiveCtrl">

      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse3">
            <strong>Objective:</strong> 
            View a heat map layer of places in a city specified by the user (a zone with many places will be red, a zone with few places will be green)
          </a>
        </h4>
      </div>

      <div id="collapse3" class="panel-collapse collapse">

        <div class="panel-body">
          <div class="alert alert-info text-center" ng-show="alert">
            {{alert}}
          </div>
          <div class="row">
            <h4 class="panel-title" style="padding-left: 15px;">Enter the parameters</h4>
            <hr/>
          </div>
          <div class="row" style="padding-bottom: 20px;">
            <div class="col-sm-6">
              <label class="control-label" for="categoryInput">Address</label>
              <input name="categoryInput" id="categoryInput2" type="text" ng-model="filter.address" class="form-control" placeholder="Address" maxlength="100" />
            </div>
            <div class="col-sm-6">
              <label class="control-label" for="categoryInput">Category</label>
              <input name="categoryInput" id="categoryInput2" type="text" ng-model="filter.query" class="form-control" placeholder="Category" maxlength="100" />
            </div>
          </div>

          <div class="row panel-footer text-right" style="padding-top: inherit;">
              <button id="reset-button" ng-click="reset()" class="btn btn-labeled btn-default">
                  <span class="btn-label icon glyphicon glyphicon-trash"></span>
                  <span>Clear</span>
              </button>
              <button id="search-button2" ng-click="search()" class="btn btn-labeled btn-primary ng-binding">
                  <span class="btn-label icon glyphicon glyphicon-search"></span>
                  <span>Search</span>
              </button>
          </div>

        </div>
        

      </div>

    </div>
    <!-- end collapse3 -->

  </div>
  <!-- End painel group -->

</body>
</html>
