<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script type ="text/javascript" >
    <% include ../../scripts/angular/angular.min.js %>
    <% include ../../scripts/lodash/lodash.core.js %>
    <% include ../../scripts/restangular/restangular.js %>

    //Angular
    <% include ../../scripts/app.js %>
    <% include ../../scripts/config.js %>
    <% include ../../scripts/controllers/globalCtrl.js %>
  </script>
</head>

<body ng-app="foursquareApiTestApp">

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center" style="max-height: 230px; padding-top: 10px;">
  <div class="container">
    <a href="/">
      <img src="/logo-softruck.png" style="width:10%">
    </a>
    <p>This is a sample Node application deployed to Heroku. It's a reasonably simple app - but a good foundation for understanding how to get the most out of the Heroku platform.</p>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs" class="alert-link">Getting Started with Node on Heroku</a> tutorial.
  </div>
  <hr>
  <div class="row" ng-controller="GlobalCtrl">
    <div>
      <label>Name:</label>
      <input type="text" ng-model="yourName" placeholder="Enter a name here">
      <hr>
      <h1>Hello {{yourName}}!</h1>
    </div>
  </div>


</body>
</html>
